<div class="panel panel-default" style="width:40%;margin: 0 auto;">
	<div class="panel-heading">
		<h1>New pin</h1>
	</div>

	<div class="panel-body">
		<%= render 'form' %>
	</div>
	<div class="panel-footer">
		<%= link_to 'Back', pins_path, class: "btn btn-info" %>
	</div>
</div>
