<%= image_tag @pin.image.url(:medium) %>

<p>
  <strong>Description:</strong>
  <%= @pin.description %>
</p>

<% if @pin.user == current_user %>
	<%= link_to 'Edit', edit_pin_path(@pin), class: "btn btn-primary" %> |
<% end %>
<%= link_to 'Back', pins_path, class: "btn btn-primary" %>

