<div class="jumbotron center">
	<h1>Welcome to GameFid</h1>
	<p> The Gaming Social Network </p>

	  

		<%= link_to "Log In", "#hello", class: "fancybox btn btn-success"%>
	<div style="display:none;">
  <div id="hello">
  </div>
</div>
	<%= link_to "Sign Up", "#register", class: "fancybox btn btn-info"%>
<div style="display:none;">
  <div id="register">
   <%= render 'pins/fancyboxregister' %>
  </div>
</div>

 	  

</div>




