<div class="jumbotron center">
	<h1>Welcome to GameFid</h1>
	<p> The Gaming Social Network </p>

	  

		<%= link_to "Log In", "#login", class: "fancybox btn btn-success"%>

	<%= link_to "Sign Up", "#register", class: "fancybox btn btn-info"%>
   <%= render 'pins/fancyboxregister' %>
 

 	  

</div>




